@import "libs/reset"
//copiar efectos de hover
// @import "libs/hover"

//estilos globales
@import "vars"
@import "global"
//secciones
@import "sections/header"
@import "sections/who"
@import "sections/portfolio"
@import "sections/contact"
@import "sections/footer"