$blanco = #FFF
$gris = #9E9E9E
$gris-claro = #EEEEEE
$negro = #212121
$azul = #03a9f4
$azul-oscuro = #176385
$error = #F92672

$laptop = 1024px
$tablet = 768px
$celular = 480px

$fuente = 'Montserrat', sans-serif
$negrita = 700