$blanco = #F5F5F5
$gris = #9E9E9E
$gris-claro = #EEEEEE
$negro = #212121
$azul = #1E88E5
$azul-oscuro = #0D3C65

$laptop = 1024px
$tablet = 768px
$celular = 480px

$fuente = 'Montserrat', sans-serif
$negrita = 700