.who
	overflow hidden
	article
		background transparent !important
		margin 0
		overflow hidden
		padding 0
	.about
		padding 6em 0
		.profile
			border 5px solid rgba($gris-claro, 1)
			border-radius 50%
			height 155px
			margin 0 auto
			max-width 155px
			min-width 155px
			overflow hidden
			position relative
			img
				height auto
				left 0
				position absolute
				top 0
				width 320px
		.texts-containter{
			height 155px
		}
		.texts
			h1
				font-size 25px
				font-weight $negrita
				margin-bottom .5em
				@media all and (max-width: 600px){
					text-align center
				}
			p
				font-size 14px
				font-weight 400
				line-height 120%
				text-align justify
	.skills
		p
			color $gris
			margin 1em auto .5em
			padding-left .5em
		.m-holder
			background rgba($negro, .10)
			border 8px solid transparent
			font-weight $negrita
			margin 0 auto
			overflow hidden
			padding 1em
			position relative
			// width 72%
			.level
				background $azul
				height 100%
				left 0
				top 0
				position absolute
				z-index 1
				&.noventa
					width 90%
				&.setenta
					width 70%
				&.sesenta
					width 60%